/* css is great */

body {
  font-family: "Century Gothic", sans-serif;
  background-color: black;
  color: white;
  margin: 2em;
}

h1 {
  color: #ffa500;
}

#stupit {
  color: red;
}

#tswany {
  font-size: 100px;
  color: red;
}
